/* import Pastor of Muppets font from "Pastor of Muppets.woff2" */

@font-face {
  font-family: 'Raleway';
  src: url('Raleway-VariableFont_wght.ttf') format('ttf');
}

body {
  text-align: center;
}

p {
  font-family: Raleway, sans-serif;
  font-size: 5rem;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
}

img {
  width: 100%;
}
